/* ==== CSS Reset ==== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Custom Properties */








/* MAIN CSS */

/* Header CSS */

header {
  padding: 1.5rem;
  text-align: center;
}

/* Book Container & Book Card CSS */

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.book-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.book-card:hover {
  transform: translateY(-4px);
}

.book-card-content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
}

.text-section {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
}